* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 650px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_30 {
  width: 504px;
  height: 198px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 468px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_31 {
  width: 184px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 358px;
  left: 502px;
  font-family: Cascadia Mono;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_32 {
  width: 184px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 421px;
  left: 502px;
  font-family: Cascadia Mono;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_33 {
  width: 278px;
  height: 52px;
  background: url("../images/v23_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 666px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_34 {
  width: 278px;
  height: 52px;
  background: url("../images/v23_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 666px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_35 {
  width: 201px;
  height: 151px;
  background: url("../images/v23_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 0px;
  overflow: hidden;
}
.v23_36 {
  width: 199px;
  height: 54px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 468px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_37 {
  width: 131px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 547px;
  left: 502px;
  font-family: Cascadia Mono;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_38 {
  width: 100%;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 0px;
  overflow: hidden;
}
