<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Cascadia+Mono&display=swap" rel="stylesheet" />
    <link href="..\static\css\anotacoes.css" rel="stylesheet" />
    <title>MyCommiserate</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="v65_2">
        <center>
            <div class="v65_3"></div>
        </center>
        <div class="v65_7"></div>
        <div class="v65_15">
            <button class="v65_17">Título</button>
        </div>
    </div>
    <script>

        window.addEventListener("load", minhaFuncao);
        function minhaFuncao() {
            // Substitua "1" pelo ID da anotação que deseja exibir

            var id = parseInt(localStorage.getItem("loggedInUserID"));
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var anotacao = JSON.parse(this.responseText);
                    // Atualize o conteúdo da página com o título da anotação
                    document.querySelector(".v65_17").textContent = anotacao.titulo;
                }
            };
            xhr.open("GET", "/anotacoes/" + id, true);
            xhr.send();
        }

    </script>
</body>

</html>