<!DOCTYPE html>
<html lang="pt">

<head>
  <link href="..\static\css\cadastro.css" rel="stylesheet" />
  <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
    crossorigin="anonymous"></script>

</head>
<title>MyCommiserate</title>

<body id="body">

  <div id="logoContainer">
    <img id="imagemLogo" src="..\static\images\logo.png" alt="logo">
    <p id="marca">MyCommiserate</p>
  </div>
  <div class="btnContainer">
    <button class="btn" id="voltar" onclick="window.location.href='/login'">Voltar</button>
  </div>
  <br>
  <div class="formContainer">
    <div class="nomeContainer">
      <label for="nome">Nome:</label> <br />
      <input type="text" class="nomeInput" id="nome" /> <br />
    </div>
    <div class="userContainer">
      <label for="usuario">Usuário:</label> <br />
      <input type="text" class="userInput" id="usuario" /> <br />
    </div>
    <div class="passwdContainer">
      <label for="senha">Senha:</label> <br />
      <input type="password" class="passwdInput" id="senha" />
      <p>*Ao menos, 8 caracteres, sendo esses, nenhum especial.</p>
    </div>
    <div class="cpasswdContainer">
      <label for="senha">Conf. Senha:</label> <br />
      <input type="password" class="cpasswdInput" id="senhaconfirmada" />
    </div>
  </div>

  <div class="btnContainer">
    <button class="btn" id="cadastrar">Cadastrar</button>
  </div>

  <script defer src="..\static\js\cadastro.js"></script>

</body>

</html>