<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link href="..\static\css\comandos.css" rel="stylesheet" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
        crossorigin="anonymous"></script>

</head>

<body id="body">

    <div id="main">
        <h1>COMANDOS:</h1>
    </div>
    <div id="lista">
        <h3>"->" = "→"</h3>
    </div>
    <div id="lista">
        <h3>"- + Space" = "•"</h3>
    </div>
    <div id="lista">
        <h3>"•red + Space" = "🔴"</h3>
    </div>
    

</body>

</html>