<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="..\static\css\home.css" rel="stylesheet" />
    <title>MyCommiserate</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
        crossorigin="anonymous"></script>
</head>


<body>
    <div class="v23_18">
        <div class="v23_19">
            <img src="../static/images/v23_33.png" alt="logo" onclick="window.location.href='/anotacoes.html'"> 
        </div>
        <hr class="line"/>
        <div class="v23_30">
            <button class="v23_31">Anotações</button>
        </div>
        <div class="notes">
            <label for="titulo" class="labelTitulo">Título:</label>
            <input type="text" class="v23_28" id="titulo">
            <label for="anotacao" class="labelTitulo">Anotação:</label>
            <textarea class="v23_27" rows="10" id="anotacao"></textarea>
            <button class="v23_29" id="salvarBtn">Salvar</button>
            <button class="v23_29" id="excluir">Excluir</button>
        </div>
    </div>
    <script>

        var selectedAnotacaoID = localStorage.getItem("selectedAnotacaoID");
        var idAnotacao = selectedAnotacaoID;

        async function buscarDadosAnotacao() {
            try {
                const resposta = await fetch(`/anotacao/${idAnotacao}`);
                const dados = await resposta.json();
                document.querySelector("#titulo").value = dados.titulo;
                document.querySelector("#anotacao").value = dados.anotacao;
            } catch (erro) {
                alert("Erro ao buscar os dados da anotação:");
            }
        }

        buscarDadosAnotacao();


        document.querySelector('.v23_31').addEventListener('click', function () {
            window.location.href = 'anotacoes.html';
        });

        document.querySelector("#salvarBtn").addEventListener("click", async () => {
            const titulo = document.querySelector("#titulo").value;
            const anotacao = document.querySelector("#anotacao").value;
            const resposta = await fetch(`/atualizar/${idAnotacao}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ titulo, anotacao })
            });
            const dados = await resposta.json();
            if (dados.message === "Anotação atualizada com sucesso!") {
                alert("Anotação atualizada");
                window.location.href = "/anotacoes.html";
            } else {
                alert("Erro ao atualizar a anotação");
            }
        });


    </script>
</body>

</html>