<!DOCTYPE html>
<html id="html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="stylesheet" href="..\static\css\error.css" />
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
    <title>MyCommiserate</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
        crossorigin="anonymous"></script>
</head>

<body>
    <p id="aviso">usuário não reconhecido</p>
    <div class="btnContainer">
        <button class="btn bg-black" id="cadastro" onclick="window.location.href='/'">Cadastro</button>
      </div>
</body>

</html>