<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link href="..\static\css\home.css" rel="stylesheet" />
    <title>MyCommiserate</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
        crossorigin="anonymous"></script>

</head>

<body id="body">

    <div class="main">
        <div id="logoContainer">
            <img id="imagemLogo" src="../static/images/logo.png" alt="logo">
            <p id="marca">MyCommiserate</p>
        </div>
        <div class="titleContainer">
            <button class="btn" id="voltar" onclick="window.location.href='/'">Sair da conta</button>
        </div>
        <div class="titleContainer">
            <button class="btn" id="anotacoes">Anotações</button>
        </div>
        <div class="titleContainer">
            <button id="comandos">Comandos</button>
        </div>
        <div class="notes">
            <input type="text" class="titleInput" id="titulo" placeholder="TÍTULO">
            <textarea class="textNote" rows="10" id="anotacao" placeholder="ANOTAÇÃO"></textarea>
            <button class="btn" id="telaCheia">Tela Cheia</button>
            <button class="btn" id="salvar">Salvar</button>
        </div>

    </div>

    <script defer src="..\static\js\home.js"></script>

</body>

</html>