<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <link rel="stylesheet" href="..\static\css\index.css" />
  <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
  <title>MyCommiserate</title>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
    crossorigin="anonymous"></script>

</head>


<body id="body">
  <div id="logoContainer">
    <img id="imagemLogo" src="../static/images/logo.png" alt="logo">
  </div>
  <br>
  <div class="formContainer">
    <div class="userContainer">
      <label for="usuario">Usuário:</label> <br />
      <input type="text" class="userInput" id="usuario" /> <br />
    </div>
    <div class="passwdContainer">
      <label for="senha">Senha:</label> <br />
      <input type="password" class="passwdInput" id="senha" />
    </div>
  </div>

  <div class="btnContainer">
    <button class="btn bg-black" id="entrar">Entrar</button>
  </div>
  <div class="btnContainer">
    <button class="btn bg-black" id="cadastro">Cadastro</button>
  </div>

  <script defer src="..\static\js\index.js"></script>

  <div class="loading">
    <img id="imagemLogo" src="../static/images/logo.png" alt="logo">
    <p>MyCommiserate</p>
  </div>

</body>

</html>