<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="..\static\css\index.css" />
  <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
  <title>MyCommiserate</title>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609" crossorigin="anonymous"></script>
</head>


<body>
  <div class="logoContainer">
    <img src="../static/images/v23_33.png" alt="logo"> 
  </div>

  <div class="formContainer">
    <div class="userContainer">
      <label for="usuario">Usuário:</label> <br />
      <input type="text" class="userInput" id="usuario" /> <br />
    </div>
    <div class="passwdContainer">
      <label for="senha">Senha:</label> <br />
      <input type="password" class="passwdInput" id="senha" />
    </div>
  </div>

  <div class="btnContainer">
    <button class="btn bg-black" id="entrar">Entrar</button>
    <button class="btn bg-black" id="cadastro">Cadastro</button>
  </div>

  <script>

    document.querySelector("#entrar").addEventListener("click", async () => {
      const username = document.querySelector("#usuario").value;
      const password = document.querySelector("#senha").value;
      const response = await fetch("/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, password })
      });
      const data = await response.json();
      if (data.message === "Login efetuado com sucesso!") {
        // Armazena o usuário logado no localStorage
        const response = await fetch(`/users/usuario/${username}`);
        const data = await response.json();

        if (response.status === 404) {
          alert("Usuário não encontrado");
        } else {
          // Armazena o ID do usuário logado no localStorage
          localStorage.setItem("loggedInUserID", data.id);
          window.location.href = "home.html";
        }
        window.location.href = "home.html";
      } else {
        alert("Usuário ou senha incorretos");
      }
    })
    document.querySelector("#cadastro").addEventListener("click", async () => {
      window.location.href = "cadastro.html";
    })

  </script>

</body>

</html>