@import url('./global.css');

.main {
  background: rgba(255, 255, 255, 1);
}

.logoContainer{
  text-align: center;
}

.line{
  border: 6px solid #000;
  margin-bottom: 15px;
}

.notesContainer {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.repeated-buttons-notes {
  height: auto;
  display: grid;
  grid: auto / auto auto auto;
  grid-gap: 10px;
}

.dirContainer {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.repeated-buttons-dirs {
  height: auto;
  display: grid;
  grid: auto / auto auto auto;
  grid-gap: 10px;
}

.v65_17 {
  background-color: #000;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: center;
  border: none;
  padding: 25px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.v65_17:hover{
  background-color: #424242;
}

.createFolderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 300px; /* Opcional: Defina uma largura máxima para a div */
}

.createFolderContainer input,
.createFolderContainer button {
  margin-bottom: 10px;
}

.createFolderContainer input{
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  border-style: groove;
  border-color: rgb(0, 0, 0);
}


.dirContainer {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
}


@media screen and (max-device-width: 768px){
  .repeated-buttons{
    grid: auto / auto auto
  }

  .v65_17{
    font-size: 35px;
  }
}

