@import url('./global.css');

.main {
  background-color: rgb(0, 0, 0);
}

#html{
  background-color: black;
}

.logoContainer{
  text-align: center;
}

.notesContainer {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.repeated-buttons-notes {
  height: auto;
  display: grid;
  grid: auto / auto auto auto;
  row-gap: 10px;
}

.v65_17 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  border: none;
  padding: 25px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin: 0 10px;
}

.v65_17:hover{
  background-color: #424242;
}

.title {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.btn {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-size: 20px;
  padding: 8px 35px;
  border-radius: 10px;
  margin: 15px auto;
  cursor: pointer;
  border-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.btn:hover{
  background-color: #424242;
}

@media screen and (max-device-width: 768px){
  .repeated-buttons{
    grid: auto / auto auto
  }

  .v65_17{
    font-size: 35px;
  }
}

