@import url('./global.css');

.v65_2 {
  background: rgba(255, 255, 255, 1);
}

.v65_3{
  text-align: center;
}

.line{
  border: 6px solid #000;
  margin-bottom: 15px;
}

.v65_15 {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.repeated-buttons {
  height: auto;
  display: grid;
  grid: auto / auto auto auto;
  grid-gap: 10px;
}

.v65_17 {
  background-color: #000;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: center;
  border: none;
  padding: 25px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

#backup{
  color: rgba(255, 255, 255);
  background-color: #000;
  font-size: 20px;
  padding: 8px 35px;
  border-radius: 10px;
  margin: 12px auto;
  cursor: pointer;
  border-color: transparent;
}

#backup:hover{
  background-color: #424242;
}

@media screen and (max-device-width: 768px){
  .repeated-buttons{
    grid: auto / auto auto
  }

  .v65_17{
    font-size: 35px;
  }
}

