@import url('./global.css');

.v74_2 {
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255);
  justify-content: center;
  margin-bottom: 30px;
}

.v74_3 {
  background: rgba(0, 0, 0);
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 40px;
}

.v74_31,
.v74_32,
.v74_33 {
  color: rgba(255, 255, 255);
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin: 15px;
}

.v74_8-input,
.v74_9-input,
.v74_15-input {
  width: 100%;
  color: rgba(255, 255, 255);
  font-size: 25px;
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  border-style: groove;
  border-color: white;
}

.buttons{
  margin: 0 auto;
  padding-top: 25px;
}

.v74_19 {
  color: rgba(255, 255, 255);
  background-color: black;
  font-size: 25px;
  padding: 8px 35px;
  border-color: transparent;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-device-width: 768px) {
  .v74_3{
    margin: 50px;
  }

  .v74_31, 
  .v74_32,
  .v74_33,
  .v74_19,
  .v74_8-input, 
  .v74_9-input,
  .v74_15-input{
    font-size: 35px;
  }
}