@import url('./global.css');

#body{
  background-color: black;
}

.formContainer {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 40px;
}

.nomeContainer,
.userContainer,
.passwdContainer,
.cpasswdContainer {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin: 15px;
}

.nomeInput,
.userInput,
.passwdInput,
.cpasswdInput {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  border-style: groove;
  border-color: rgb(0, 0, 0);
}

.btnContainer{
  margin: 0 auto;
  padding-top: 25px;
}

.btn {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 8px 35px;
  border-color: transparent;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

#cadastrar{
  cursor: pointer;
  margin: 20px;
}

#cadastrar:hover{
  background-color: #424242;
}

#voltar{
  cursor: pointer;
}

#voltar:hover{
  background-color: #424242;
}

@media screen and (max-device-width: 768px) {
  .formContainer{
    margin: 50px;
  }

  .userContainer,
  .passwdContainer,
  .cpasswdContainer
  .btn,
  .userInput,
  .passwdInput,
  .cpasswdInput{
    font-size: 50px;
  }
}