@import url('./global.css');

#body{
  background-color: black;
}

#main{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#lista{
  display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

h1, h3{
    color: white;

}

h5{
  color: rgb(122, 0, 0);
}

h3, h1{
  margin: 0px;
}

@media screen and (max-device-width: 768px){

}