@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.bg-black {
  background-color: rgb(255, 255, 255);
}

#imagemLogo {
  width: 12vw;
  padding: 10px 30px;
}

.btnContainermodoAlt{
  margin: 0 auto;
  display: flex;
}

#logoContainer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (max-device-width: 768px) {
  #imagemLogo {
    margin-top: 30px;
    width: 30%;
  }

  textarea {
    height: 40vh;
  }
}