@import url('./global.css');

#body{
  background-color: black;
}

.formContainer {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 40px;
}

.userContainer,
.passwdContainer {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin: 15px;
}

.userInput,
.passwdInput {
  width: 100%;
  color: rgb(7, 7, 7);
  font-size: 25px;
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  border-style: groove;
  border-color: rgb(0, 0, 0);
}

.btnContainer{
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
}

.explicacaoContainer{
  margin: 0 auto;
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding-top: 25px;
  display: flex;
}

#Logo{
  width: 20vw;
  margin-top: 1vw;
  padding: 5vw 5vw;
}

#textoInformativo{
  font-size: 25px;
  margin-left: 2px;
}

.btn {
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 8px 35px;
  border-color: transparent;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.btn:hover{
  background-color: #424242;
}

.line{
  border: 6px solid #ffffff;
  margin: 30px 0px;
}

@media screen and (max-device-width: 768px) {
    .formContainer{
      margin: 50px;
    }

    .userContainer, 
    .passwdContainer,
    .btn, 
    .userInput, 
    .passwdInput{
      font-size: 35px;
    }

    #Logo{
      width: 030vw;
      margin-top: 20px;
      padding: 10px 30px;
    }

    .line{
      margin-top: 33vh;
    }
}
  