@import url('./global.css');

.formContainer {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 40px;
  border: 2px solid white;
}

.userContainer,
.passwdContainer {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin: 15px;
}

.userInput,
.passwdInput {
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  border-style: groove;
  border-color: rgb(0, 0, 0);
  border: 2px solid white;
}

.btnContainer{
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
}

.btn {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 8px 35px;
  border-color: transparent;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  background-color: black;
  border: 2px solid white;
}

.btn:hover{
  background-color: #424242;
}

@media screen and (max-device-width: 768px) {
    .formContainer{
      margin: 50px;
    }

    .userContainer, 
    .passwdContainer,
    .btn, 
    .userInput, 
    .passwdInput{
      font-size: 35px;
    }
    
}
  