@import url('./global.css');

.logoContainer  {
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255);
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.formContainer {
  background: rgba(0, 0, 0);
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 40px;
}

.userContainer,
.passwdContainer {
  color: rgba(255, 255, 255);
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin: 15px;
}

.userInput,
.passwdInput {
  width: 100%;
  color: rgba(255, 255, 255);
  font-size: 25px;
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  border-style: groove;
  border-color: white;
}

.btnContainer{
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
}

.btnContainermodoAlt{
  margin: 0 auto;
  display: flex;
}

.explicacaoContainer{
  margin: 0 auto;
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding-top: 25px;
  display: flex;
}

#Logo{
  width: 20vw;
  margin-top: 20px;
  padding: 10px 30px;
}

#textoInformativo{
  font-size: 25px;
  margin-left: 2px;
}

.btn {
  color: rgba(255, 255, 255);
  font-size: 25px;
  padding: 8px 35px;
  border-color: transparent;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.btn:hover{
  background-color: #424242;
}

.line{
  border: 6px solid #000;
  margin: 30px 0px;
}

.lineAlt{
  border: 6px solid #ffffff;
  margin: 30px 0px;
}


.modoAlt {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.modoAltInput {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: #000;
}

.modoAltBody {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


@media screen and (max-device-width: 768px) {
    .formContainer{
      margin: 50px;
    }

    .userContainer, 
    .passwdContainer,
    .btn, 
    .userInput, 
    .passwdInput{
      font-size: 35px;
    }

    #Logo{
      width: 030vw;
      margin-top: 20px;
      padding: 10px 30px;
    }
}
  