@import url('./global.css');

.main {
  background: rgba(255, 255, 255, 1);
}

.logoContainer{
  text-align: center;
}

.line{
  border: 6px solid #000;
  margin-bottom: 15px;
}

.notesContainer {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.repeated-buttons-notes {
  height: auto;
  display: grid;
  grid: auto / auto auto auto;
  grid-gap: 10px;
}

.v65_17 {
  background-color: #000;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: center;
  border: none;
  padding: 25px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.v65_17:hover{
  background-color: #424242;
}

.dirContainer {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#deleteContainer{
  display: flex;
  justify-content: center;
}

.btn{
  background-color: #ff0000;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: center;
  border: none;
  padding: 25px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}


@media screen and (max-device-width: 768px){
  .repeated-buttons{
    grid: auto / auto auto
  }

  .v65_17{
    font-size: 35px;
  }
}

